* {
  box-sizing: border-box;
}

div {
  text-align: center;
  margin: 5px;
}

h1 {
  text-align: center;
}

section {
  border: 1px solid #000000;
  background-color: #ffe8d0;
  color: #777777;
  position: relative;
  padding: 50px;
  margin: 5px;
}

.section-title {
  position: absolute;
  top: -23px;
  right: 0px;
  padding: 2px;
  border: 1px solid black;
  color: #000000;
}

#st1 {
  background-color: #b1b1ff;
}

#st2 {
  background-color: #b1ffb1;
}

#st3 {
  background-color: #ffb1b1;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 32%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,
  .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 45%;
  }
  .col-md-12 {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}

